body {
    background-image: url(background-blur-clean-531880.jpg);
}
.chunnilal 
{
    font-size: 20px;
    color: palevioletred;
    
}
#cheetarMohan
{
    font-size: 30px;
    color:;
    font-display:auto; 
}

.table-form1
{
    height: 500px;
    width: 550px;
    font-size: 30px;

}